@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  src: local("ProximaNova-Light"), local("Proxima Nova Light"), url("../fonts/ProximaNova-Light.woff") format("woff"); }

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: local("ProximaNova-Regular"), local("Proxima Nova Regular"), url("../fonts/ProximaNova-Regular.woff") format("woff"); }

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 500;
  src: local("ProximaNova-Semibold"), local("Proxima Nova Semibold"), url("../fonts/ProximaNova-Semibold.woff") format("woff"); }

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  src: local("ProximaNova-Bold"), local("Proxima Nova Bold"), url("../fonts/ProximaNova-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 900;
  src: local("GraphikLCG-Black"), local("GraphikLCG Black"), url("../fonts/GraphikLCG-Black.woff2") format("woff2"), url("../fonts/GraphikLCG-Black.woff") format("woff"); }

/*  */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  min-width: 1130px;
  box-sizing: border-box;
  background-color: white; }
  html.source-modal--acttive {
    overflow: hidden;
    margin-right: 17px; }

body {
  position: relative;
  margin: 0;
  font-family: "ProximaNova", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #474d5e; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.container {
  width: 1130px;
  margin: 0 auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.title {
  margin: 0;
  font-family: 'Graphik', sans-serif;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: -0.1px;
  color: #474d5e; }

.button-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 456px;
  height: 60px;
  font-size: 21px;
  line-height: 0;
  color: #ffffff;
  background-color: #0085ef;
  border-radius: 3px;
  transition: 0.2s; }
  .button-blue:hover {
    background-color: #0276D2; }

body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: rgba(110, 121, 146, 0.5);
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease, visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s ease 0s, visibility 0s ease 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--html {
  padding: 6px; }

.fancybox-content {
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in; }

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable='true'] {
  cursor: text; }

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff; }

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

/* Fix iOS */
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

/* Buttons */
.fancybox-button {
  background: #f7f7f4;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc; }

.fancybox-button:hover {
  color: #aaadb7; }

.fancybox-button:focus {
  outline: none; }

.fancybox-button.fancybox-focus {
  outline: 1px dotted; }

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none; }

/* Fix IE11 */
.fancybox-button div {
  height: 100%; }

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%; }

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0; }

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none; }

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none; }

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transform-origin: 0;
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401; }

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1; }

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 0;
  right: 16px;
  top: 17px; }

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none; }

/* Navigation arrows */
.fancybox-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  z-index: 99999; }

.fancybox-navigation .fancybox-button {
  position: relative;
  height: 70px;
  width: 70px;
  opacity: 0;
  padding: 0;
  border-radius: 50%; }

/* Caption */
.fancybox-caption {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996; }

.fancybox-caption--separate {
  margin-top: -50px; }

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all; }

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-loading {
  animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999; }

@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1); }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  transform: translate3d(0, 0, 0) scale(1); }

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px; }
  .fancybox-slide--image {
    padding: 6px 0; }
  .fancybox-close-small {
    right: -6px; }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px; }
  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px; } }

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

/* Thumbs */
.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs__list a:focus::before {
  opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px); } }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 26px;
  border-bottom: 1px solid #D8D8D8; }

.header__logo {
  padding-left: 18px; }

.header__signin {
  line-height: 0; }

.hero__header {
  display: flex;
  align-items: flex-end;
  padding: 39px 0 21px; }

.hero__header-list {
  display: flex;
  margin-left: auto;
  line-height: 0; }

.hero__header-item {
  margin-left: 34px; }
  .hero__header-item:first-child {
    margin-left: 0; }

.hero__header-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #6E7992;
  transition: 0.2s;
  outline: none; }
  .hero__header-link:hover, .hero__header-link:focus {
    color: #474d5e; }

.hero__content {
  position: relative;
  background-color: #f7f7f4; }
  .hero__content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background-color: #ffffff; }

.hero__content-wrapper {
  padding: 96px 0 70px 0;
  position: relative; }
  .hero__content-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 429px;
    height: 100%;
    background: url("../img/hero-bg.svg") no-repeat right bottom; }

.hero__title {
  font-size: 53px;
  line-height: 60px;
  width: 670px; }

.hero__desc {
  width: 490px;
  margin: 0;
  margin-top: 21px;
  font-size: 18px;
  line-height: 34px; }

.hero__form {
  display: flex;
  justify-content: space-between;
  width: 666px;
  height: 55px;
  margin-top: 30px; }

.hero__form-label {
  width: 100%; }

.hero__form-input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-right: 10px;
  padding-left: 43px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #8893b3;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  outline: none; }
  .hero__form-input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background: url("../img/icon/icon-search.svg") no-repeat center; }

.hero__form-button {
  min-width: 203px;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  background-color: #079939;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  transition: 0.2s; }
  .hero__form-button:hover {
    background-color: #00792A; }

.about {
  padding-top: 48px; }

.about__title {
  width: 590px;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.1px; }

.about__content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid #E6E6E6; }

.about__content-left {
  width: 505px;
  margin-top: 45px; }

.about__content-right {
  width: 554px;
  height: 998px;
  overflow: hidden; }

.about-list__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 49px; }
  .about-list__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 37px;
    background: url("../img/icon/icon-risk.svg") no-repeat center; }
  .about-list__item:nth-child(2):after {
    background-image: url("../img/icon/icon-docs.svg"); }
  .about-list__item:nth-child(3):after {
    background-image: url("../img/icon/icon-template.svg"); }
  .about-list__item:nth-child(4):after {
    background-image: url("../img/icon/icon-tax.svg"); }
  .about-list__item:nth-child(5):after {
    background-image: url("../img/icon/icon-rating.svg"); }
  .about-list__item:nth-child(6):after {
    background-image: url("../img/icon/icon-resources.svg"); }
  .about-list__item:nth-child(7):after {
    background-image: url("../img/icon//icon-debt.svg"); }
  .about-list__item:nth-child(8):after {
    background-image: url("../img/icon/icon-lockout.svg"); }
  .about-list__item::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 15px;
    right: -84px;
    width: 130px;
    height: 0.5px;
    background-color: #079939;
    transition: 0.2s;
    opacity: 0; }
  .about-list__item.active .about-list__link {
    border-bottom: 1px dashed #079939; }
  .about-list__item.active::before {
    opacity: 1; }

.about-list__link {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #079939;
  outline: none; }
  .about-list__link:hover, .about-list__link:active, .about-list__link:focus {
    color: #0cb947; }

.about-list__desc {
  width: 425px;
  margin: 0;
  font-size: 16px;
  line-height: 24px; }

.about__content-button {
  margin-left: 49px;
  margin-bottom: 25px; }

.about__content-image {
  transition: 0.5s;
  transform: translateY(-40px); }

.feature {
  padding-top: 86px; }

.feature__title {
  font-size: 40px;
  line-height: 52px;
  text-align: center; }

.feature__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 11px;
  margin-top: 55px; }

.feature__elem {
  display: flex;
  flex-direction: column;
  padding: 35px 20px 20px 24px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 3px; }
  .feature__elem:nth-child(2) .feature__elem-title::before {
    background-image: url("../img/icon/icon-report.svg"); }
  .feature__elem:nth-child(3) .feature__elem-title::before {
    background-image: url("../img/icon/icon-analysis.svg"); }
  .feature__elem:nth-child(4) .feature__elem-title::before {
    background-image: url("../img/icon/icon-connection.svg"); }
  .feature__elem:nth-child(5) .feature__elem-title::before {
    background-image: url("../img/icon/icon-monitoring.svg"); }
  .feature__elem:nth-child(6) .feature__elem-title::before {
    background-image: url("../img/icon/icon-contract.svg"); }

.feature__elem-title {
  position: relative;
  margin: 0;
  padding-top: 65px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #079939; }
  .feature__elem-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: url("../img/icon/icon-loupe.svg") no-repeat center;
    background-size: contain; }

.feature__elem-desc {
  margin: 0;
  font-size: 16px;
  line-height: 24px; }

.feature__elem-link {
  display: block;
  margin-top: auto;
  margin-right: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #474d5e;
  text-decoration: underline; }

.helper {
  padding-top: 50px; }

.helper__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6; }

.helper__title {
  width: 580px;
  margin-top: 20px; }

.helper__pic {
  width: 377px;
  height: 256px;
  margin-left: 65px; }

.helper__list {
  display: flex;
  flex-direction: column;
  width: 890px;
  margin: 50px auto 0; }

.helper-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .helper-item:last-child {
    margin-bottom: 0; }
  .helper-item:nth-child(2) .helper-item__desc::before {
    width: 57px;
    height: 90px;
    background-image: url("../img/icon/icon-risk.svg");
    background-size: contain; }
  .helper-item:nth-child(3) .helper-item__desc::before {
    top: 20px;
    width: 50px;
    height: 69px;
    background-image: url("../img/icon/icon-analysis.svg");
    background-size: contain; }

.helper-item__desc {
  position: relative;
  width: 448px;
  margin: 0;
  padding-left: 100px;
  padding-top: 17px;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  color: #8893b3; }
  .helper-item__desc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    background: url("../img/icon/icon-best.svg") no-repeat center;
    background-size: cover; }

.helper-item__list {
  width: 380px;
  margin-right: 20px; }

.helper-item__list-elem {
  padding-top: 17px; }

.helper-item__list-desc {
  position: relative;
  margin: 0;
  margin-bottom: 13px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px; }
  .helper-item__list-desc:last-child {
    margin-bottom: 0; }
  .helper-item__list-desc::before {
    content: '—';
    position: absolute;
    top: 0;
    left: 0; }

.helper__button {
  margin: 55px auto 0; }

.source {
  margin-top: 102px; }

.source__title {
  font-size: 40px;
  line-height: 52px;
  text-align: center; }

.source__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 75px; }

.source__item {
  position: relative;
  padding-top: 95px;
  padding-bottom: 28px;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
  .source__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 75px;
    background: url("../img/icon/icon-fns.svg") no-repeat center;
    background-size: contain; }
  .source__item:nth-child(1n + 4) {
    border-bottom: none;
    padding: 0;
    padding-top: 120px; }
    .source__item:nth-child(1n + 4)::before {
      top: 45px; }
  .source__item:nth-child(3) {
    border-right: 0; }
  .source__item:nth-child(5)::before {
    background-image: url("../img/icon/icon-rfp.svg"); }
  .source__item:nth-child(6) {
    border-right: 0; }
    .source__item:nth-child(6)::before {
      background-image: url("../img/icon/icon-fssp.svg"); }

.source__item-desc {
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center; }
  .source__item-desc span {
    display: block; }

.source__button {
  display: block;
  width: 452px;
  height: 60px;
  margin: 50px auto 0;
  padding: 0;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #6e7992;
  background-color: transparent;
  border: 1px solid #6E7992;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  transition: 0.2s; }
  .source__button:hover {
    color: #ffffff;
    background-color: rgba(110, 121, 146, 0.52);
    border: 0; }

.rate {
  margin-top: 77px;
  background-color: #f7f7f4; }

.rate__title {
  padding-top: 70px;
  font-size: 50px;
  line-height: 82px;
  text-align: center; }

td {
  border-collapse: collapse; }

.rate__table {
  margin-top: 50px; }

.table {
  width: 100%;
  border-collapse: collapse; }

.table-data--head {
  width: 158px;
  padding-left: 10px;
  vertical-align: top; }
  .table-data--head:first-child {
    width: auto; }

.table-data__head-title {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #079939; }

.table-data__price {
  margin: 0;
  font-size: 27px;
  line-height: 32px;
  font-weight: 600; }
  .table-data__price--vip {
    color: #079939; }

.table-data__month {
  margin: 0;
  font-size: 14px;
  line-height: 24px; }

.table-data__content {
  padding: 10px 0 10px 15px;
  border: 1px solid #E6E6E6;
  border-width: 1px 0; }
  .table-data__content.active {
    background-color: #ffffff; }

.data-content__title {
  display: flex;
  align-items: center;
  width: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600; }

.data-content__circle {
  position: relative;
  width: 158px; }
  .data-content__circle::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 16px;
    height: 16px;
    background-color: #474d5e;
    border-radius: 50%; }
  .data-content__circle--green::before {
    background-color: #079939; }
  .data-content__circle--basic {
    opacity: 0; }

.data-content__desc {
  width: 707px;
  margin: 0;
  padding-right: 80px;
  font-size: 16px;
  line-height: 24px;
  display: none; }

.data-content__button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  padding: 0;
  border: 0;
  background: url(../img/icon/icon-arrow.svg) no-repeat center;
  cursor: pointer;
  outline: none; }

.table-data--button {
  padding-right: 18px; }

.table-data__link {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  color: #fff;
  background-color: #474d5e;
  border-radius: 3px;
  transition: 0.2s; }
  .table-data__link:hover {
    background-color: #333846; }
  .table-data__link--green {
    background-color: #079939; }
    .table-data__link--green:hover {
      background-color: #00792A; }

.api {
  padding-top: 90px;
  padding-bottom: 60px;
  overflow: hidden;
  background-color: #f7f7f4; }

.api__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 90px 0 25px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05); }
  .api__wrapper::before {
    content: '';
    position: absolute;
    top: -121px;
    left: 50%;
    transform: translateX(-50%);
    width: 206px;
    height: 206px;
    border-radius: 50%;
    background-color: #f7f7f4;
    box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.05); }
  .api__wrapper::after {
    content: '';
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 115px;
    background: url("../img/robot_intro.svg") no-repeat center; }

.api__title {
  margin: 0;
  font-size: 27px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  color: #079939; }

.api__desc {
  width: 885px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 31px;
  text-align: center; }

.api__link {
  display: inline-block;
  margin: 10px auto 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #0085ef;
  box-shadow: 0 1px 0 #0085ef; }

.review {
  background-color: #ffffff;
  padding-bottom: 114px; }

.review__title {
  padding-top: 66px;
  font-size: 40px;
  line-height: 52px;
  text-align: center; }

.review__slider {
  position: relative;
  overflow: hidden; }

.review__slider-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 100px;
  margin: 0 auto;
  z-index: 99; }

.slider-control__button {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #f7f7f4;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  outline: none; }
  .slider-control__button:hover {
    background-color: #efefef; }
  .slider-control__button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 60px;
    background: no-repeat center; }
  .slider-control__button--left::before {
    background-image: url("../img/icon/icon-bnt-left.svg"); }
  .slider-control__button--right::before {
    background-image: url("../img/icon/icon-bnt-right.svg"); }

.review__slider-list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  transition: 0.2s; }

.review-content {
  display: flex;
  justify-content: space-between;
  width: 768px;
  margin: 0 15px;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 3px; }

.review-content__user-data {
  width: 465px;
  padding: 47px 0 0 18px; }

.review-content__user-pic {
  width: 288px; }

.review-content__user-name {
  margin: 0;
  padding-left: 25px;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px; }

.review-content__user-company {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #828282; }

.review-content__user-feedback {
  margin-top: 30px; }

.user-feedback__title {
  position: relative;
  margin: 0;
  padding-left: 70px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px; }
  .user-feedback__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 57px;
    height: 45px;
    background: url("../img/icon/icon-blockquote.svg") no-repeat center; }

.user-feedback__text {
  margin: 0;
  margin-top: 6px;
  padding-left: 70px;
  font-size: 16px;
  line-height: 26px;
  color: #000000; }

.review-content__user-pohoto {
  width: 286px;
  height: 100%;
  object-fit: cover; }

.preorder {
  padding-top: 53px;
  border-top: 1px solid #E6E6E6;
  background-color: #f7f7f4;
  color: #2D3039; }

.preorder {
  padding-top: 52px; }

.preorder__title {
  width: 590px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 50px;
  text-align: center; }

.preorder__desc {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  padding-bottom: 23px; }
  .preorder__desc span {
    display: block; }

.preorder__form {
  margin-top: 58px;
  margin-left: 0;
  display: flex;
  align-items: flex-end; }

.preorder__form-label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-transform: uppercase;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 0; }

.preorder__form-input {
  height: 50px;
  margin-top: 6px;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 3px; }

.preorder__button {
  min-width: 300px;
  width: 300px;
  height: 50px;
  margin-left: 20px;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  background-color: #079939;
  border: none;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: 0.2s; }
  .preorder__button:hover {
    background-color: #00792A; }

.footer {
  background-color: #f7f7f4; }

.footer__wrapper {
  display: flex;
  align-items: flex-end;
  padding: 56px 0 80px 0;
  line-height: 16px; }

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  font-size: 13px; }

.footer__policy {
  margin-top: 20px;
  text-decoration: underline;
  color: #474d5e; }

.footer__callback {
  margin: 0;
  margin-left: 185px;
  font-size: 13px; }

.footer__phone {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #474d5e; }

.footer__logo {
  margin-left: auto; }

.source-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 121, 146, 0.5);
  display: none; }
  .source-modal--active {
    left: 0;
    display: block; }

.source-modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 760px;
  padding: 14px 24px 45px 28px;
  background-color: #ffffff;
  border-radius: 3px;
  overflow: hidden; }

.source-modal__title {
  margin: 0;
  font-size: 42px;
  line-height: 50px;
  font-weight: 600; }

.source-modal__button {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(45deg); }
  .source-modal__button::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 45px;
    height: 2px;
    background-color: #474d5e; }
  .source-modal__button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%) rotate(90deg);
    width: 45px;
    height: 2px;
    background-color: #474d5e; }

.source-modal__list {
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  margin-top: 33px;
  font-size: 16px;
  line-height: 24px; }
  .source-modal__list::-webkit-scrollbar {
    width: 10px; }
  .source-modal__list::-webkit-scrollbar-track {
    background-color: #F7F7F4;
      background-color-border-radius: 10px; }
  .source-modal__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #474D5E; }

.source-modal__list-item {
  width: 600px;
  margin-bottom: 5px; }

.source-modal__list-desc {
  margin: 0; }

.popup__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(45deg); }
  .popup__button::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 63px;
    height: 2px;
    background-color: #474d5e; }
  .popup__button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%) rotate(90deg);
    width: 63px;
    height: 2px;
    background-color: #474d5e; }

.source-modal__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 535px;
  min-height: 60px;
  margin: 30px auto 0;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #0085ef;
  border-radius: 3px;
  transition: 0.2s; }
  .source-modal__link:hover {
    background-color: #0276D2; }

.feature-modal__item {
  flex-direction: column;
  width: 977px;
  height: 680px;
  padding: 26px 26px 0 26px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 5px 35px rgba(110, 121, 146, 0.5);
  display: none; }

.feature-modal__item-flex .feature-modal__item {
  display: flex !important; }

.feature-modal__title {
  font-size: 30px;
  line-height: 39px; }

.feature-modal__desc {
  margin: 0;
  margin-top: 18px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #079939; }

.feature-modal__content {
  display: flex;
  justify-content: space-between;
  margin-top: auto; }

.feature-modal__content-wrapper {
  width: 335px;
  margin-top: 35px; }

.feature-modal__content-desc {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #242428; }

.feature-modal__content-list {
  margin-top: 35px; }

.feature-modal__content-item {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  padding-left: 20px; }
  .feature-modal__content-item::before {
    content: '—';
    position: absolute;
    top: 0;
    left: 0; }

.feature-modal__content-pic {
  width: 550px;
  height: 404px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  border-radius: 3px; }
  .feature-modal__content-pic--center {
    height: 360px;
    align-items: center; }

.feature-modal__button {
  margin: 0 -26px;
  padding: 23px;
  display: flex;
  background-color: #F7F7F4;
  border-top: 1px solid #e6e6e6; }

.feature-modal__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 369px;
  height: 60px;
  margin: 0 9px 0 auto;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #0085ef;
  transition: 0.2s; }
  .feature-modal__button-link:hover {
    background-color: #0276D2; }
  .feature-modal__button-link--transparent {
    margin: 0 auto 0 9px;
    background-color: transparent;
    color: #0085ef;
    border: 1px solid #0085ef; }
    .feature-modal__button-link--transparent:hover {
      color: #ffffff;
      background-color: rgba(0, 133, 239, 0.57);
      border: none; }
